/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
} */

/* .flag {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
} */

.cardImg {
    aspect-ratio: 1/1.5;
    overflow: visible;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.745);
    color: white;
    opacity: 0;
    transition: all 0.5s;
    overflow-y: auto;
}

.cardImg:hover {
    box-shadow: 1px 1px 5px 7px rgb(21, 21, 21);
    transform: scale(1.03);

    .cardContent {
        opacity: 1;
    }
}

.cardStar {
    color: gold;
}