body {
    background-color: #434343;
    color: white;
}

.mytitle {
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mycontainer {
    margin: 0 auto;
    max-width: 1000px;
}

.Nolist {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

