body {
    background-color: #434343;
    color: white;
}

.mylogo {
    width: 150px;
    
}

.mycontainer {
    margin: 0 auto;
    max-width: 1000px;
}

.Nolist {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

