@import "tailwindcss";

body {
    background-color: #141414;
    color: white;
}

.Nolist {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.myfont1 {
    font-size: 15px;
}
.myfont {
    font-size: 12px;
}

.myh3 {
    font-size: 35px;
    text-shadow: 2px 2px 4px rgb(255, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

@media screen and (max-width: 480px) {
    .mylogo {
        display: none;
    }
}

.slick-slide > div {
  margin: 0 4px;
}
.slick-list {
  overflow-x: hidden !important;  /* 👈 blocca i lati */
  overflow-y: clip !important; /* 👈 libera sopra/sotto */
}

.slick-slide {
  transition: transform 0.3s ease;
  z-index: 1;
}
.slick-slide:hover {
  z-index: 10; /* 👈 porta quella in hover in primo piano */
}

.slick-prev:before,
.slick-next:before {
  color: #f59e0b; /* giallo ambra Tailwind */
  font-size: 30px;
}
.slick-prev {
  left: -40px;
  z-index: 20;
}
.slick-next {
  right: -40px;
  z-index: 20;
}

.slick-slider {
  display: block !important;
  width: 100% !important;
}
.slick-track {
  display: flex !important;
  align-items: center;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

