@import "tailwindcss";

body {
    background-color: #434343;
    color: white;
}

.Nolist {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.myfont1 {
    font-size: 15px;
}
.myfont {
    font-size: 12px;
}

.myh3 {
    font-size: 35px;
    text-shadow: 2px 2px 4px rgb(255, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

@media screen and (max-width: 480px) {
    .mylogo {
        display: none;
    }
}

.slick-slide > div {
  margin: 0 4px;
}
.slick-list {
  margin: 0 -4px;
}
.slick-prev:before,
.slick-next:before {
  color: #f59e0b; /* giallo ambra Tailwind */
  font-size: 30px;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}

